    @model List<PersonaClassLibrary.JournalModel>

    @{
        ViewData["Title"] = "Home Page";
    }

    <div>
        @{
    /* This is the heading container of home controller */
        }
        <div>
            <div style="display:flex; justify-content:space-between; ">
                <a href="/Home/PostJournal" style="text-decoration:none;">
                    <button class="custom-button">
                        Create New Entry
                     </button>
                 </a>
                
                <div class="border-style">
                    <label>
                        Total Entries: @Model.Count
                    </label>
                </div>
            </div>
        </div>

        @{
        /*
        - This is the body container of the page,
        - to display the list of journals
        */
        }

        @foreach (var item in Model) {

           
                    <div class="list-container item-border-style">
                        <a href="@Url.Action("JournalDetails", "Home", new { id = item.JournalId})" style="text-decoration:none;">

                            <div style="display:flex; flex-direction:column; padding: 13px">
                                <label class="text-style label-text-style">
                                    @item.JournalName
                                    </label>
                                <label class="text-style item-text-style">
                                    @item.Description
                                </label>
                            </div>
                        </a>

                            <div style="display:flex; flex-direction:column; justify-content:space-between">
                                <div>
                                   <a href="@Url.Action("Delete", "Home", new { id = item.JournalId})" style="text-decoration:none;">

                                        <button class="delete-button-style">
                                        <img src="~/images/delete.png" alt="delete journal" height="25"  />
                                        </button>
                                    </a>
                                </div>
                                <div>
                                    <a href="@Url.Action("Edit", "Home", new { id = item.JournalId})" style="text-decoration:none;">
                                        <button class="edit-button-style">
                                            <img src="~/images/edit.png" alt="edit journal" height="25" />
                                        </button>
                                    </a>
                                </div>
                            </div>
                    </div>
               
                    }

    </div>


